@page "/"
@using DesafioAxians.Models

<FormActions 
    PublicarHabilitado="@PodePublicar"
    OnPublicar="Publicar" />

<div class="container-fluid mt-5" style="width: 94%; max-width: 1720;">
    <div class="col-12 row m-auto">
        <!-- Sidebar -->
        <div class="col-4 col-md-4 col-lg-3 mb-3">
            <Sidebar CurrentStep="@currentStep" OnStepChange="SetCurrentStep" />
        </div>

        <!-- Conteúdo -->
        <div class="col-8 col-md-8 col-lg-9">
            <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-2">
                <h4 class="mb-0">Opção @currentStep</h4>

                <div>
                    <button class="btn btn-light me-2">&lt; Anterior</button>
                    <button class="btn btn-light">Seguinte &gt;</button>
                </div>
            </div>

            <TaxForm OnContarChanged="AtualizarContarSelecionado" @ref="formRef" />
            <TaxTable Taxas="@taxas" OnSelecionar="AtualizarSelecao" />
        </div>
    </div>

    <FooterActions
        Selecionadas="@taxasSelecionadas"
        OnCancelar="OnCancelar"
        OnEliminar="OnEliminar" />
</div>

<!-- Barra Inferior -->
<FooterActions 
    Selecionadas="@taxasSelecionadas"
    OnCancelar="OnCancelar"
    OnEliminar="OnEliminar" />

@code {
    private int currentStep = 10;
    private string contarSelecionado = "";
    private TaxForm? formRef;

    private List<Taxa> taxas = new()
    {
        new("NUTS", 12.5m),
        new("IVA", 9.8m),
        new("ICMS", 5.0m),
        new("ISS", 3.2m),
    };

    private int taxasSelecionadas => taxas.Count(t => t.Selecionada);

    private Task AtualizarContarSelecionado(string valor)
    {
        contarSelecionado = valor;
        return Task.CompletedTask;
    }

    private Task AtualizarSelecao()
    {
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnCancelar()
    {
        foreach (var t in taxas)
            t.Selecionada = false;

        return AtualizarSelecao();
    }

    private Task OnEliminar()
    {
        taxas = taxas.Where(t => !t.Selecionada).ToList();
        return AtualizarSelecao();
    }

    private Task SetCurrentStep(int step)
    {
        currentStep = step;
        return Task.CompletedTask;
    }

    private async Task Publicar()
    {
        currentStep++;

        formRef?.Resetar(); // método do filho para limpar campos
        taxas.Clear();      // limpa a lista

        contarSelecionado = "";

        await AtualizarSelecao();
    }

    private bool PodePublicar =>
        !string.IsNullOrWhiteSpace(contarSelecionado) &&
        taxas.Any();
}
